@model Eldorado.TeamManager.Web.Models.TeamCollaborator.TeamCollaboratorListViewModel

<h3 class="page-title-collaborator">Integrantes</h3>

<div class="m-2">
    <table id="table-collaborators" class="table table-striped">
        <col style="width: 25%;" />
        <col style="width: 65%;" />
        <col style="width: 10%;" />
        <thead>
            <tr>
                <th>Nome</th>
                <th>Skills</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collaboratorDto in Model.Collaborators)
            {
                <tr>
                    <td>@collaboratorDto.Name</td>
                    <td>@string.Join(", ", collaboratorDto.CollaboratorSkills.Select(s=>s.Skill.Name).ToArray())</td>
                    <td>
                        <a href='@Url.Action("SaveCollaborator", new {  collaboratorId = collaboratorDto.Id, teamId = Model.TeamId })' class="btn btn-sm btn-secondary" title="Adicionar"><i class="fa fa-plus"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initDataTable("table-collaborators");
        });
    </script>
}